/* .main {background-color: crimson;}
.main h1{color: darkgreen; 
    background-color: black; 
    font-size: 100px;
}

.main h2{background-color:purple;
    color:blue ;
    font-size: 75px;}
   
.main h3{color: brown; 
    font-size: 50px;
    background-color: yellowgreen;}
.section1{background-color:green;}
.main section{font-size: 25px;} */

body{background-color: rgb(167, 131, 90);
color:crimson ;}